@import "../../styles/generic";
.Login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 1;
  // display: block;
  height: 100vh;

  // @include md {

  // }

  &Form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:$primary;
    h2{
      color:$secondary;
      font-weight:bold;
      text-align: center;
    }
    > form {
      justify-content: center;
    }
    &Container{
      max-width: 25rem;
      width: 20rem;
    }
  }
  &ImageHolder {
    width: 100%;
    background: center / cover no-repeat url("../../assets/images/loginBg.jpg");
  }
}
