@import "../../styles/generic";
.Login {
  background: url('../../assets/svg/patterns.svg') no-repeat $primary;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1;
  height: 100vh;

  &Form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: $secondary;
      text-align: center;
    }
    form {
      justify-content: center;
      button {
        width: 100%;
      }
    }
    &Container {
      max-width: 25rem;
      width: 20rem;
    }
  }
}
