@import "../../../styles/variables";

.Button {
  font-family: 'Gentium Basic', serif;
  width: 100%;
  padding: 0.75rem;
  background: $secondary;
  color: $primary;
  border-radius: $InputBorderRadius;
  border: none;
  font-size: 1rem;
  margin-top: .85rem;
  font-weight: bold;
}
