@import "../../styles/generic";
.Home {
  background: url("../../assets/svg/patterns.svg") no-repeat $primary;
  height: 100vh;
  &Container {
    display: block;
    justify-content: center;
    margin: 10vh auto 0;
    width: 100%;
    max-width: 40rem;
    padding: 0.75rem;

    &__Button {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
      button {
        font-size: 0.85rem;
        &:last-child {
          border: 1px solid $secondary;
          background: transparent;
          color: $secondary;
          margin-left: 30px;
        }
      }
    }

    &__Search {
      &Container {
        position: relative;
        #searchIcon {
          -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.06406e-05 8.45385C0.00273395 10.0304 0.447629 11.5746 1.28424 12.9114C2.12085 14.2481 3.31568 15.3239 4.73321 16.0166C6.15073 16.7093 7.73421 16.9913 9.304 16.8306C10.8738 16.6698 12.3671 16.0727 13.6145 15.1071L18.2581 19.7465C18.46 19.9192 18.7197 20.0095 18.9854 19.9992C19.251 19.989 19.5029 19.879 19.6909 19.6912C19.8788 19.5034 19.989 19.2517 19.9992 18.9863C20.0095 18.7209 19.9191 18.4615 19.7462 18.2598L15.1025 13.6204C15.9295 12.5603 16.4909 11.3182 16.74 9.99753C16.9892 8.67682 16.9189 7.31575 16.5349 6.02769C16.151 4.73963 15.4645 3.56187 14.5328 2.59251C13.601 1.62315 12.4509 0.890263 11.1782 0.454883C9.90554 0.0195033 8.54716 -0.10576 7.21622 0.0895277C5.88528 0.284815 4.62032 0.795 3.52669 1.57759C2.43306 2.36017 1.54243 3.3925 0.92899 4.58859C0.315546 5.78467 -0.0029536 7.10989 2.06406e-05 8.45385ZM8.44308 2.12745C9.69549 2.12745 10.9198 2.49849 11.9611 3.19364C13.0025 3.88879 13.8141 4.87684 14.2934 6.03284C14.7726 7.18884 14.898 8.46086 14.6537 9.68806C14.4094 10.9153 13.8063 12.0425 12.9207 12.9273C12.0351 13.812 10.9068 14.4146 9.67845 14.6587C8.45011 14.9028 7.17689 14.7775 6.01982 14.2987C4.86274 13.8198 3.87377 13.009 3.17797 11.9686C2.48217 10.9282 2.11079 9.70509 2.11079 8.45385C2.11079 6.77598 2.77794 5.16684 3.96547 3.98041C5.15301 2.79398 6.76365 2.12745 8.44308 2.12745Z" fill="white"/></svg>');
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: 100%;
          background: 1.11rem 1.11rem #d4d4d4;
          bottom: 0;
          height: 100%;
          right: 1.07rem;
          margin: auto 0;
          position: absolute;
          top: 2.625rem;
          width: 1.42rem;
          z-index: 1;
        }
      }
    }
    &__List {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
  }
}
