@import "../../../styles/generic";
.Input {
  font-family: "Gilroy-Regular", sans-serif;

  &Label {
    line-height: 1.29rem;
    color: $primary;
  }
  &Field {
    cursor: text;
    border: 2px solid $borderColor;
    border-radius: $InputBorderRadius;
    width: 100%;
    padding: 0 0.75rem;
    height: 32px;
    color: inherit;
    margin: 0.875rem 0;
    outline: none;

    &__Error {
      color: $error;
    }
    &:focus,
    &:active {
      border-color: $primary;
    }
  }
}
